.heading {
	transition: 0.3s;
	animation:cubic-bezier(1, 0, 0, 1);
	box-shadow: -2px -2px 16px;
	position: absolute;
	background-color: darkorchid;
	width: 100%;
	top: -600px;
	z-index: 2;
}

.heading-open-upload {
	top: 0;
	background-color: seagreen;
}

.heading-open-update {
	top: 0;
	background-color: darkcyan;
}

.heading-open-upload .search-input {
	background: seagreen;
	color: seagreen;
	cursor: default;
}


.heading-open-update .search-input {
	background: darkcyan;
	color: darkcyan;
	cursor: default;
}


.heading-open .search-input::placeholder {
	opacity: 0;
}

.upload-view {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	transition: 0.2s;
}

.upload-view form {
	display: flex;
	flex-flow: column;
	height: 400px;
	padding: 0 300px;
	justify-content: space-between;
}

.upload-input {
	text-align: center;
	padding: 75px;
	border-radius: 15px;
	border: 2px dotted black;
	transition: 0.2s;
	cursor: pointer;
}

.upload-input:hover {
	background: lightseagreen;
}

.upload-button {
	margin: 0 25%;
	cursor: pointer;
	padding: 10px 0;
	border-radius: 15px;
	border: none;
	background: orange;
	transition: 0.2s;
	font-weight: bold;
}

.upload-button:hover {
	color: white;
	background: darkorange;
}

.title-bar {
	height: 32px;
	padding: 12px 20px;
	display: flex;
	justify-content: space-between;
}

input[type=text] {
	border: none;
	appearance: none;
	border-radius: 5px;
	padding: 5px 10px;
}

.search-input {
	transition: 0.5s;
	width: 50%;
}

.upload-toggle {
	color: black;
	font-weight: bold;
	border: none;
	padding: 0 20px;
	background-color: orange;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
	border: 1px solid transparent;
}

.upload-toggle:hover {
	border: 1px solid orangered;
}