.file-view {
	border-radius: 10px;
	background: white;
	margin-top: 32px;
	padding: 16px;
	box-shadow: 1px 2px 16px 0 grey;
}

.view-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0 0 16px;
}

.view-buttons button, a {
	color: seagreen;
	text-decoration: none;
	margin: 0 12px;
	cursor: pointer;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 6px;
	border: none;
	font-size: 16px;
	background-color: white;
	border: 1px solid seagreen;
	transition: 0.2s;
}

.update-button:hover {
	border: 1px solid blue;
	color: blue;
}

.download-button:hover {
	border: 1px solid green;
	color: green;
}

.file-info {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
}

.file-text {
	color: white;
	border-radius: 10px;
	padding: 10px;
	background: #050505;
	height: 320px;
	overflow: scroll;
}